<%- include('header') %>
  <div id="admin-content">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="admin-heading">Add New Category</h1>
              </div>
              <div class="col-md-offset-3 col-md-6">
                  <!-- Form Start -->
                  <form action="#" method="post" id="add-category-form" name="add-category-form">
                    <div class="mb-3">
                        <label class="form-label" style="font-size: 16px;">Category Name:</label>
                        <input type="text" class="form-control" id="c_name" name="c_name"
                            style="height: 30px; font-size: 14px;">
                        <input type="hidden" class="form-control" id="noOfPosts" name="noOfPosts">
                    </div>
                    <button type="submit" class="btn btn-dark"
                        style="height: 35px; width: 100px; font-size: 14px;">Submit</button>
                </form>
                  <!-- /Form End -->
              </div>
          </div>
      </div>
  </div>
<%- include('footer') %>
